<body style="background: url(https://i.imgur.com/ZzijxMd.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1>Please Log In below:</h1><br>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  
    <%= f.text_field :username, placeholder: 'Username:' %><br><br>
  
    <%= f.password_field :password, placeholder: 'Password:' %>
  
    <%= f.submit "Log In" %><br>
<% end %><br> or <%= link_to('Log in with Facebook!', '/auth/facebook') %><br><br>

<%= button_to "Create a New User", new_user_path, :method => "get" %>