<body style="background: url(https://i.imgur.com/b3akcoP.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1>Edit Emotion</h1><br>

<%= form_for @emotion do |f| %>
    <h3><%= f.label :name, "Name of Emotion: " %> <%= f.text_field :name_capitalized %></h3><br><br>
  
    <%= f.submit "Bottle Your Emotion" %>

<% end %><br>

<%= button_to "Emotions Page", emotions_path, :method => "get" %><br>

<%= render 'static/to_home' %>