<h1><%= current_user.username %>'s <%= current_user.emotions_count %> Memory Emotions:</h1><br>

<% @emotions.each do |emotion| %>
  <h3>"<%= emotion.name %>" <%= link_to 'View Memories', emotion_path(emotion) %></h3><br>
<% end %>

<%= render '/memories/to_memories' %><br>

<%= render 'static/to_home' %>