<body style="background: url(https://i.imgur.com/b3akcoP.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background Artist/Creator: TheDigitalArtist from Pixabay.com ––>

<h1><%= @emotion.name.capitalize %> Memories:</h1><br>
  <% @emotion.memories.each do |memory| %>
    <li><a href="/memories/<%= memory.id %>"><%= memory.title.capitalize %></a></li><br>
  <% end %>

<%= link_to "Edit Emotion", edit_emotion_path(@emotion.id) %><br><br>
  
<%= link_to "Emotions Page", emotions_path %><br><br>

<%= link_to "Home Page", root_path %><br><br>

<%= button_to "Delete Emotion", emotion_path(@emotion), method: :delete, data: { confirm: "Are you sure?" } %>

