<body style="background: url(https://i.imgur.com/ZzijxMd.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<nav>

  <% if logged_in? %>

    <% if current_user.image.present? %>
      <h1>Welcome, <%= image_tag(current_user.image) %> <%= render 'users/current_user' %>!</h1><br>
    <% else %>
      <h1>Welcome, <%= render 'users/current_user' %>!</h1><br>
    <% end %><br>
    
    <%= link_to 'Add Memory', new_memory_path %> |
    <%= link_to 'Memories Page', memories_path %> |
    <%= link_to 'Emotions Page', emotions_path %> |
    <%= link_to 'People/Pets Page', players_path %> |
    <%= link_to 'Log Out', logout_path %>
    
  <% else %>

    <h1>Please Sign In or Sign Up below:</h1><br>
    <%= link_to 'Sign Up', new_user_path %> |
    <%= link_to 'Log In', login_path %> |
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
  <%end %>
</nav>