<nav>
  <% if logged_in? %>
    <h1>Welcome, <%=current_user.username.capitalize %>!</h1><br>
    <%= link_to 'Add Memory', new_memory_path %> |
    <%= link_to 'Memories Page', memories_path %> |
    <%= link_to 'Emotions Page', emotions_path %> |
    <%= link_to 'People/Pets Page', players_path %> |
    <%= link_to 'Log Out', logout_path %>

    
    
  <% else %>
    <h1>Please Sign In or Sign Up below:</h1><br>
    <%= link_to 'Sign Up', new_user_path %> |
    <%= link_to 'Log In', login_path %>
  <%end %>

</nav>