<h1><%= current_user.username %>'s <%= current_user.players_count %> People/Pets from Memories:</h1><br>

<% @players.each do |player| %>
  <h3>"<%= player.name %>" <%= link_to 'View Memories', player_path(player) %></h3><br>
<% end %>

<%= render '/memories/to_memories' %><br>

<%= render 'static/to_home' %>