<h1>Memories with <%= @player.name %>:</h1><br>
  <ul>
    <% @player.memories.each do |memory| %>
      <li><%= link_to memory.title, memory_path(memory) %></li><br>
    <% end %><br>
  </ul>

<%= button_to "Delete Your Person/Pet", player_path(@player), method: :delete, 
               data: { confirm: "Are you sure you want to delete your Person/Pet?" }, class: 'delete-button' %><br>

<%= button_to "Edit Your Person/Pet", edit_player_path(@player), :method => "get" %><br>
  
<%= button_to "People/Pets Page", players_path, :method => "get" %><br>

<%= render 'static/to_home' %>