<body style="background: url(https://i.imgur.com/5IdMNor.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1><%= @player.player_name_capitalized_and_split %> Memories:</h1><br>
  <% @player.memories.each do |memory| %>
    <li><%= link_to memory.title, memory_path(memory) %></li><br><br>
  <% end %>

<%= link_to "Edit Player", edit_player_path(@player.id) %><br><br>
  
<%= link_to "Players Page", players_path %><br><br>

<%= link_to "Home Page", root_path %><br><br>

<%= button_to "Delete Player", player_path(@player), method: :delete, data: { confirm: "Are you sure?" } %>