<body style="background: url(https://i.imgur.com/5IdMNor.jpg) center no-repeat;
    background-size: cover;background-attachment: fixed;">
<!–– Background from wallpapersafari.com ––>

<h1><%= @player.name_capitalized_and_split %> Memories:</h1><br><br>
  <% @player.memories.each do |memory| %>
    <li><%= link_to memory.title_capitalized, memory_path(memory) %></li><br><br>
  <% end %>

<%= button_to "Edit Your Person/Pet", edit_player_path(@player.id), :method => "get" %><br>
  
<%= button_to "People/Pets Page", players_path, :method => "get" %><br>

<%= render 'static/to_home' %><br><br><br><br>

<%= button_to "Delete Person/Pet", player_path(@player), method: :delete, data: { confirm: "Are you sure?" } %>