<ul>
  <h1>"<%= @memory.title.capitalize %>"</h1><br>
  <p><%= @memory.content.capitalize %></p>
</ul>

<h3>Emotions:</h3><br>
<% @memory.emotions.each do |emotion| %>
  <li><a href="/emotions/<%= emotion.id %>"><%= emotion.name.capitalize %></a></li><br>
<% end %>

<h3>People/Pets:</h3><br>
<% @memory.players.each do |player| %>
  <li><a href="/players/<%= player.id %>"><%= player.name.split.map(&:capitalize).join(' ')
 %></a></li><br>
<% end %><br>

<%= button_to "Edit Memory", edit_memory_path(@memory.id), :method => "get" %><br>

<%= button_to "Memories Page", memories_path, :method => "get" %><br>

<%= button_to "Home Page", root_path, :method => "get" %><br><br><br>

<%= button_to "Delete Memory", memory_path(@memory), method: :delete, data: { confirm: "Are you sure?" } %><br>