<%= render 'show_background' %>

<ul>
  <h1>"<%= @memory.title_capitalized_and_split %>"</h1><br>
  <p><%= @memory.content_capitalized %></p>
</ul>

<h3>Emotions:</h3><br>
<% @memory.emotions.each do |emotion| %>
  <li><%= link_to emotion.name_capitalized, emotion_path(emotion) %></li><br>
<% end %>

<h3>People/Pets:</h3><br>
<% @memory.players.each do |player| %>
  <li><%= link_to player.name_capitalized_and_split, player_path(player) %></li><br>
<% end %><br>

<%= button_to "Add Another Memory", new_memory_path %><br>

<%= button_to "Delete Your Memory", memory_path(@memory), method: :delete, data: { confirm: "Are you sure?" }, 
               class: 'delete-button' %><br>

<%= button_to "Edit Your Memory", edit_memory_path(@memory), :method => "get" %><br>

<%= render 'to_memories' %><br>

<%= render 'static/to_home' %>