<ul>
  <h1>"<%= @memory.title.capitalize %>"</h1><br>
  <p><%= @memory.content.capitalize %></p>
</ul>

<%= link_to "Edit Memory", edit_memory_path(@memory.id) %><br><br>

<%= link_to "Memories Page", memories_path %><br><br>

<%= link_to "Home Page", root_path %><br><br>

<%= button_to "Delete", memory_path(@memory), method: :delete, data: { confirm: "Are you sure?" } %>