<%= render 'show_background' %>

<ul>
  <h1>"<%= @memory.title %>"</h1><br>
  <p><%= simple_format(@memory.content) %></p>
</ul>

<h3>Emotions:</h3><br>
<% @memory.emotions.each do |emotion| %>
  <li><%= link_to emotion.name, emotion_path(emotion) %></li><br>
<% end %>

<h3>People/Pets:</h3><br>
<% @memory.players.each do |player| %>
  <li><%= link_to player.name, player_path(player) %></li><br>
<% end %><br>

<%= button_to "Add Another Memory", new_memory_path %><br>

<%= button_to "Delete Your Memory", memory_path(@memory), method: :delete, data: { confirm: "Are you sure you want to delete your Memory?" }, 
               class: 'delete-button' %><br>

<%= button_to "Edit Your Memory", edit_memory_path(@memory), :method => "get" %><br>

<%= render 'to_memories' %><br>

<%= render 'static/to_home' %>